@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary: #058B94;
  --primary_light: #F7FEFF;
  --text_light: #808080;
  --text_dark: #141414;
  --text_default: #333333;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Dancing Script', cursive;
}

* {
  font-size: 16px;
  font-family: 'Mukta', sans-serif;
}

.logo-text {
  color: #fff;
  font-weight: 600;
}

.ant-menu-item {
  border-radius: 0 !important;
}
.ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: inherit !important;
}
.ant-menu-item-selected {
  color: var(--text_light) !important;
  background-color: #FFF !important;
}
